/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Container styling */
.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

p{
    font-size: 1.5em;
    color: #666;
    margin-top: 20px;
}

h3{
    text-align: center;
    margin-bottom: 5px;
}

.back-button {
    display: inline-block;
    position: absolute;
    left: 45%;
    margin-top: 30px;
    color: #007BFF;
    text-decoration: none;
    font-size: 1.1em;
}
/* Title styling */
.container h1 {
    font-size: 2em;
    color: #333;
}

/* Life expectancy result */
#life-expectancy {
    font-size: 2.5em;
    font-weight: bold;
    color: #000000;
}

#category {
    display: block;
    margin-top: 0px;
    font-size: 1.5em;
    color: #666;
    text-shadow: 2px 2px 2px #d0cccc;
}

/* Category styling */sa
#category-description {
    margin-top: 20px;
    color: #555;
    line-height: 1.5;
}

/* Category image */
#category-image-container {
    margin-top: 20px;
}

#category-image {
    max-width: 200px;
    height: auto;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

/* Back link styling */
a {
    display: inline-block;
    margin-top: 30px;
    color: #007BFF;
    text-decoration: none;
    font-size: 1.1em;
}

a:hover {
    text-decoration: underline;
}


