<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class = "text-align: center">Time Travel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      
    <nav class="navbar">
        <div class="navbar-container">
            <div class="navbar-menu">
                 <a href="{{ url_for('era') }}" class="nav-item">Era Selection</a> 
                <a href="{{ url_for('about') }}" class="nav-item">About</a>                
            </div>
        </div>
    </nav>

</head>

<body>
<br>
    <h2>Home</h2>

</body>